<h1> Week <%= @current_week %> </h1>

<%= form_for @week, :url => submit_user_picks_week_path(@week) do |f| %>
  <% if @week.errors.any? %>
    <div class="error_messages">
      <% @week.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <table>
    <thead>
      <tr>
        <td>Away Team</td>
        <td></td>
        <td>Home Team</td>
        <td>Spread</td>
      </tr>
    </thead>
    <%= f.fields_for :games do |game_fields| %>
      <tr>
        <td><%= Game::TEAM_NAME[game_fields.object.away_team_id.to_s] %></td>
        <td>vs.</td>
        <td><%= Game::TEAM_NAME[game_fields.object.home_team_id.to_s] %></td>
        <%= game_fields.fields_for :picks do |f| %>
          <td><%= f.text_field :spread %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= f.submit "Submit" %>
<% end %>