<h1>New User</h1>

<%= form_for @user do |f| %>
  <div><%= f.label :first_name, "First Name" %></div>
  <div><%= f.text_field :first_name %></div>

  <div><%= f.label :last_name, "Last Name" %></div>
  <div><%= f.text_field :last_name %></div>

  <div><%= f.label :email, "E-mail" %></div>
  <div><%= f.text_field :email %></div>

  <div><%= f.label :password %></div>
  <div><%= f.text_field :password %></div>

  <%= f.submit %>
<% end %>