<div>
<%= f.label :away_team_id, "Away Team" %>
<%= f.text_field :away_team_id %>
</div>

<div>
<%= f.label :home_team_d, "Home Team" %>
<%= f.text_field :home_team_id %>
</div>

<div>
<%= f.label :date, "Date" %>
<%= f.text_field :date %>
</div>